{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <section>
        <h1>{{user.username}}'s page</h1>
        {% for post in user_posts %}
            <ul style="list-style: none;">
                <li>Posted By: {{post.author.username}}</li>
                <li>Post Title: {{post.title}}</li>
                <li>Post Content: {{post.content}} </li>
                <li>Date Published: {{post.published_date}} </li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}